.pricesContainer {
    h3 {
        font-size: 1.5em;
    }

    .tableButtonContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 1em;
    }
}

@media (max-width: 500px) {
    .pricesContainer {

        h2,
        h3 {
            text-align: center;
        }
    }
}