@import "../../styles/variables";

.membershipContainer {
    width: 100%;
    height: fit-content;
    background-color: $red;
    // background-image: radial-gradient(#ffffff 1.3px, #FA0050 1.3px);
    // background-size: 26px 26px;
    display: flex;
    justify-content: space-between;
    padding-block: 1em;
    overflow: hidden;

    background-image: url("/images/membershipBg.png");
    background-position: center;

    .rightMembershipContent {
        display: flex;
        flex-direction: column;
        color: $white;

        p {
            font-size: 2.5em;

            span {
                font-family: textaHeavy;
                font-weight: bold;
            }
        }
    }
    // .phoneImage{
    //     height: 100px;
    //     width: 25%;
    //     background-image: url("/images/membershipImg.png");
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     // background-attachment: fixed;
    // }
}


@media (max-width: 500px) {
    .membershipContainer {
        flex-direction: column;
        gap: 1em;

        .rightMembershipContent {
            gap: 1em;

            p {
                line-height: 1em;
            }
        }
    }
}