@import "../../styles/variables";

.membershipContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding-block: 1em;
    background-image: url("/images/membershipBg.png");
    background-position: center;
    position: relative;
    margin-top: 5em;
    overflow: hidden;

    .rightMembershipContent {
        display: flex;
        flex-direction: column;
        color: $white;

        p {
            font-size: 2.5em;

            span {
                font-family: textaHeavy;
                font-weight: bold;
            }
        }
    }

    img {
        position: absolute;
        right: 8em;
        height: 15em;
        bottom: 0;
    }
}


@media (max-width: 500px) {
    .membershipContainer {
        margin-top: 0;
        height: fit-content;
        flex-direction: column;
        gap: 1em;
        padding-bottom: 15em;
        overflow: hidden;
        background-image: url("/images/membershipBgMobile.png");
        background-position: bottom;

        .rightMembershipContent {
            gap: 1em;

            p {
                line-height: 1em;

                span {
                    font-family: textaHeavy;
                    font-weight: bold;
                }
            }
        }

        img {
            position: absolute;
            right: 3%;
            height: fit-content;
            width: 100%;
        }
    }
}