@import "../../styles/variables";

.loginContainer {
  width: 100%;
  height: 100vh;
  background-color: $dark;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 10%;

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 1.5em;
    background-color: $blue;
    color: white;
    border-radius: 1.5em;
    min-width: 20em;
    width: 50%;
    gap: 1em;
  }
  
  a {
    background-color: $red;
    padding: 1em 2em;
    border-radius: 1.5em;
    margin-top: 1em;
    transition: ease all 0.25s;
    &:hover {
      transform: scale(1.05);
    }
  }
}
