@import "../../styles/_variables.scss";

.navbar {
    background-color: $blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1em;
    padding-inline: 10%;

    .linksContainer {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;

        .linksContainerList {
            width: fit-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2em;
            padding-inline: 3em;
            color: $white;
        }
    }

    .menuNavbar {
        display: none;
    }
}

@media (max-width: 500px) {

    .navbar {
        background-color: $blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 1em;
        padding-inline: 10%;

        img {
            width: 50%;
        }

        .linksContainer {
            display: none;
        }

        .menuNavbar {
            display: contents;
        }
    }
}