@import "../../styles/_variables.scss";

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: $blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1em;
    padding-inline: 10%;

    .linksContainer {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;

        .linksContainerList {
            width: fit-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2em;
            padding-inline: 3em;
            color: $white;
        }
    }

    .menuNavbar {
        display: none;
    }

    .hiddenMenuContainer {
        position: absolute;
        top: 70px;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $blue;
        height: calc(100vh - 70px);
        width: 100%;
        gap: 3em;
        display: none;

        .hiddenLinksContainerList {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3em;

            li {
                font-family: textaHeavy;
                font-size: 2em;
                color: white;
            }
        }
    }
}

@media (max-width: 500px) {

    .navbar {
        img {
            width: 65%;
        }

        .linksContainer {
            display: none;
        }

        .menuNavbar {
            width: fit-content;
            display: contents;
            width: 10px;
        }

        .hiddenMenuContainer {
            display: none;
        }
    }
}