.promoCarouselContainer {
    padding-inline: 15%;
    border-radius: 1.5em;
    overflow: hidden;
    padding-bottom: 4em;

    img {
        margin-inline: auto;
        border-radius: 1.5em;
        overflow: hidden;
        width: 100%;
    }

    .moreInfoLinkCarouselContainer {
        width: 100%;
        height: fit-content;
        padding-top: 1em;
        padding-left: 5em;

        .moreInfoLinkCarousel {
            text-decoration: underline;
        }
    }
}

@media (max-width: 500px) {
    .promoCarouselContainer {
        padding-inline: 5%;
    }
}