.promoCarouselContainer {
    padding-inline: 15%;
    border-radius: 1.5em;
    overflow: hidden;
    padding-bottom: 4em;

    img {
        margin-inline: auto;
        border-radius: 1.5em;
        overflow: hidden;
        // height: 200vh;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .promoCarouselContainer {
        padding-inline: 5%;
    }
}