.promoCarouselContainer {
    padding-inline: 15%;
    border-radius: 1.5em;
    overflow: hidden;
    padding-bottom: 4em;
    position: relative;

    img {
        margin-inline: auto;
        border-radius: 1.5em;
        overflow: hidden;
        width: 100%;
        margin-bottom: 3em;
    }

    .moreInfoLinkCarouselContainer {
        position: absolute;
        width: fit-content;
        height: fit-content;
        bottom: .6em;
        left: 0;
        z-index: 11;

        .moreInfoLinkCarousel {
            text-decoration: underline;
        }
    }

    small{
        position: absolute;
        bottom: 1em;
        text-decoration: underline;
        cursor: pointer;      
        z-index: 12; 
    }
}

@media (max-width: 500px) {
    .promoCarouselContainer {
        padding-inline: 5%;

        .moreInfoLinkCarouselContainer {
            left: 0%;

            .moreInfoLinkCarousel {
                text-decoration: underline;
            }
        }
    }
}