@import "../../styles/variables";

.heroContainer {
    margin-top: 72px;
    height: fit-content;
    background-color: $blue;
    padding-inline: 0;
    padding-bottom: 0;
    position: relative;
    cursor: pointer;

    .heroLoading {
        width: 100%;
        min-height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 2em;
        font-family: textaHeavy;
    }
}

@media (max-width: 500px) {
    .heroContainer {
        img {
            width: 100%;
            height: fit-content;
        }
    }
}