@import "../../styles/variables";

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, fit-content);
    justify-content: space-between;
    padding-block: 2em;
    padding-inline: 10%;
    position: relative;
    background-color: $dark;
    color: $white;
    width: 100%;

    .logo {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .disclaimer {
        width: max-content;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    // }

    .centerFooterContainer {
        width: fit-content;
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .rightFooterContainer {
        width: fit-content;
        grid-column: 3/4;
        grid-row: 1/3;

        .storeLinks {
            display: flex;
            justify-content: space-between;
            gap: 1em;
        }
    }
}


@media (max-width: 500px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, fit-content);
        width: 100%;

        flex-direction: column;
        align-items: center;

        .logo {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .disclaimer {
            width: max-content;
            grid-column: 1/2;
            grid-row: 4/5;
        }


        .centerFooterContainer {
            width: fit-content;
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .rightFooterContainer {
            width: fit-content;
            grid-column: 1/2;
            grid-row: 3/4;

            .storeLinks {
                display: flex;
                justify-content: space-between;
                gap: 1em;
            }
        }
    }
}