@import "../../styles/variables";

.footer {
    display: flex;
    justify-content: space-between;
    padding-block: 2em;
    padding-inline: 10%;
    position: relative;
    background-color: $dark;
    color: $white;
    width: 100%;

    .leftFooterContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        align-items: center;
        gap: 3em;

        p {
            width: max-content;
        }
    }

    .centerFooterContainer {
        width: fit-content;
    }

    .rightFooterContainer {
        width: fit-content;

        .storeLinks {
            display: flex;
            justify-content: space-between;
            gap: 1em;
        }
    }
}