.goToTop {
    position: fixed;
    z-index: 10;
    bottom: 2em;
    right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    background-color: #004ADD;
    color: #ffffff;
    display: none;
}

@media (max-width: 500px) {
    .goToTop {
        height: 2.5em;
        width: 2.5em;

        img {
            width: 1.5em;
            height: 1.5em;
        }
    }
}