@import "../../styles/variables";

.pageTagContainer {
  width: 100vw;
  width: 100dvw;
  height: fit-content;
  padding-block: 1em;
  background-color: $blue;
  color: $white;

  h1 {
    line-height: 1em;
    color: $white;
    font-size: 2.5em;
    height: fit-content;
    font-family: textaHeavy;
    text-align: center;
  }
}
