@import "../../styles/variables";

.mainCard {
    max-width: 14em;
    width: 100%;
    min-height: fit-content;
    background-color: $white;
    padding: 1em;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: 1em;
    text-align: center;

    img {
        padding: 1.5em;
        height: 8em;
    }

    h3 {
        font-size: 1.5em;
        font-weight: bold;
        color: $blue;
    }
}