@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: textaRegular;
    src:url("../assets/fonts/TextaAlt-Regular_0.otf");
}

html{
    font-family: textaRegular;
}